
  </body>

  <footer>     &copy <a href="https://github.com/pursuer-of-proficiency"> Devesh Tripathi</a> </footer>




    <footer><p7>   background-img &copy wallpaperacess.com  </p7> </footer>




</html>
